@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.product-card img {
  height: 150px;
}

.product-card span:first-of-type {
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.product-card span:nth-of-type(2) {
  font-size: 1em;
  margin: 10px 0;
}

.product-card button,
.product-card input {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.product-card button:disabled,
.product-card input:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.product-card input {
  width: 60px;
  text-align: center;
}

